<div class="container py-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-10 col-lg-8">
      <div class="landing-wrapper">
        <h1 class="landing-title">🌿 ミツログへようこそ 🌿</h1>
        <p class="landing-lead">
          自分を責めがちなあなたへ。<br>
          毎日、「できたこと」を記録するだけで、<br>
          <strong>少しずつ自己肯定感が育つ</strong>習慣づくりをサポートします。
        </p>
        <hr class="landing-divider">
        <p class="landing-subtext">
          「些細なことでも、ちゃんとできてた」<br>
          そう気づくだけで、心が少し軽くなる。<br>
          ミツログは、そんな気づきを毎日の中に届けるアプリです。
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to 'ユーザー登録', new_user_path, class: 'landing-btn btn btn-light-green' %>
        </div>
      </div>
    </div>
  </div>
</div>
