<div class="container py-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-10 col-lg-8">
      <div class="landing-wrapper">
        <h1 class="landing-title">🌿 ミツログへようこそ 🌿</h1>
        <p class="landing-lead">
          自分を責めがちなあなたへ。
          <br>
          ミツログは、毎日「できたこと」と「褒め言葉」を記録することで、
          <br>
          自分を認め、<strong>少しずつ自己肯定感を育む</strong>習慣をサポートするアプリです。
        </p>
        <hr class="landing-divider">
        <p class="landing-subtext">
          「些細なことでも、ちゃんとできてた」<br>
          そう気づけるだけで、心は少し軽くなります。
          <br>
          毎日を過ごすあなた自身に、やさしい眼差しを向けるために。
          <br>
          ミツログは、そんな気づきをそっと届けます。
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to 'ユーザー登録', new_user_path, class: 'landing-btn btn btn-light-green' %>
        </div>
      </div>
    </div>
  </div>
</div>